<div id="locations">
  <login v-if="token == ''"></login>
  <route v-else>Logged In</route>
</div>

<script type="text/x-template" id="route-template">
<div>
  <h1>{{ route.name }} Route</h1>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li v-for="client in clients">
      <div class="collapsible-header"><i class="material-icons"></i><h1>{{ client.first_name }} {{ client.last_name }}</h1> <i class="material-icons">location_on</i><h5>{{ client.address }}</h5></div>
      <div class="collapsible-body">
        <span><a :id="'pu-'+client.id" class="waves-effect waves-light btn-large" v-on:click="open_pickup_modal($event)">Pickup</a></span>
        <span><a :id="'do-'+client.id" class="waves-effect waves-light btn-large" v-on:click="open_dropoff_modal($event)">Dropoff</a></span>
          <table class="striped" style="font-size: 1.5em;">
            <thead>
              <tr>
                  <th>Type</th>
                  <th>Status</th>
                  <th>Time</th>
                  <th>Wheelchair</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="operation in client.operations">
                <td>{{operation.op_type}}</td>
                <td>{{operation.status}}</td>
                <td>{{operation.time}}</td>
                <td>{{operation.wheelchair}}</td>
              </tr>
            </tbody>
          </table>
      </div>  
    </li>
  </ul>

  <div id="pickup-modal" class="modal">
    <div class="modal-content">
      <span><button class="waves-effect waves-light btn-large" v-on:click="client_status('pickup', 'present', $event)">Present</button></span>
      <span><button class="waves-effect waves-light btn-large" v-on:click="client_status('pickup', 'not-present', $event)">Not Present</button></span>
      <span><button class="waves-effect waves-light btn-large" v-on:click="client_status('pickup', 'no-show', $event)">No Show</button></span>
    </div>
  </div>

  <div id="dropoff-modal" class="modal">
    <div class="modal-content">
      <span><button class="waves-effect waves-light btn-large" v-on:click="client_status('dropoff', 'present', $event)">Present</button></span>
      <span><button class="waves-effect waves-light btn-large" v-on:click="client_status('dropoff', 'not-present', $event)">Not Present</button></span>
      <span><button class="waves-effect waves-light btn-large" v-on:click="client_status('dropoff', 'no-show', $event)">No Show</button></span>
    </div>
  </div>
</div>
</script>





<script type="text/x-template" id="login-template">
<form>
<input v-model="email" placeholder="Email">
<input v-model="password" type="password" placeholder="Password">
<button v-on:click="submit">Login</button>
</form>
</script>

<script>
var state = {
  token: "<%= JWTWrapper.encode({ driver_id: current_driver.id }) if current_driver %>"
};
Vue.component("route", {
  template: "#route-template",
  data: function() {
    return {route: {}, clients: null};
  },
  created: function() {
    this.fetchData();
  },
  methods: {
    open_pickup_modal: function(client_id) {
      targetId = event.currentTarget.id.split('-')[1]; //expecting id with format xx-id
      console.log(targetId); 

      $('#pickup-modal div').attr("id", 'pu-modal-'+targetId);
      $('#pickup-modal').modal('open');
    },
    open_dropoff_modal: function(client_id) {
      targetId = event.currentTarget.id.split('-')[1]; //expecting id with format xx-id
      console.log(targetId); 

      $('#dropoff-modal div').attr("id", 'do-modal-'+targetId);
      $('#dropoff-modal').modal('open');
    },
    fetchData: function() {
      var self = this;
      $.ajax({
        url: "/api/v1/routes",
        beforeSend: function(xhr) { xhr.setRequestHeader("Authorization", "Bearer " + state.token); },
        success: function(response) {
          console.log(response);
          self.route = response;
          self.clients = response.clients;
        }
      });
    },
    client_status: function ( type, status, event) {
      targetId = event.currentTarget.parentElement.parentElement.id.split('-')[2]
      //alert( type + ' Client is ' + status + '!')
      var self = this;
      $.ajax({
        url: "/api/v1/create_operation",
        type: "POST",
        data: {op_type: type, status: status, driver_id: 1, client_id: targetId, wheelchair: true, helper: "mike" } ,
        beforeSend: function(xhr) { xhr.setRequestHeader("Authorization", "Bearer " + state.token); },
        success: function(response) {
          console.log("operation is a success");
        }
      });
      $('#'+ type + '-modal').modal('close');   
    }
  }
});
Vue.component("login", {
  template: "#login-template",
  data: function() {
    return {
      email: "chris@gorails.com",
      password: "password"
    };
  },
  methods: {
    submit: function(event) {
      event.preventDefault();
      $.post("/api/v1/user_token", {auth: {email: this.email, password: this.password}}, function(data) {
        localStorage.setItem("token", data.jwt);
        state.token = data.jwt;
      })
    }
  }
})
new Vue({
  el: "#locations",
  data: state
})
</script>





